<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form (ngSubmit)="submit()" [formGroup]="formulario">
    <mat-form-field>
      <input matInput 
        id="nome" 
        placeholder="Nome" 
        formControlName="nome" 
        [value]="produto?.nome"
        type="text" 
      >
    </mat-form-field>
    <mat-error *ngIf="f.nome.touched && nome.hasError('required')">
      Este campo é obrigatório
    </mat-error>
    <mat-error *ngIf="f.nome.touched && nome.hasError('minlength')">
      No minimo 3 caracteres
    </mat-error>
    <mat-form-field>
      <input matInput 
        currencyMask 
        id="preco" 
        placeholder="Preço (R$)" 
        formControlName="preco" 
        [value]="produto?.preco"
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      >
    </mat-form-field>
    <mat-error *ngIf="f.preco.touched && preco.hasError('required')">
      Este campo é obrigatório
    </mat-error>
    <mat-form-field>
      <input matInput 
        id="categoria" 
        placeholder="Categoria" 
        formControlName="categoria" 
        [value]="produto?.categoria"
        type="text" 
      >
    </mat-form-field>
    <mat-error *ngIf="f.categoria.touched && categoria.hasError('required')">
      Este campo é obrigatório
    </mat-error>

    <button mat-raised-button type="submit" color="primary" [disabled]="!formulario.valid">
      Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </form> 
  
</mat-card>