.spacer {
  flex: 1 1 auto;  
}

.mat-radio-group {
  margin-top: 8px;
} 

.mat-form-field {
  top: 8px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-bottom: 10px;
}

tr.mat-footer-row {
  font-weight: bold;
}

.search {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;  
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}